In [1138]:
import pandas as pd
import numpy as np
imdb_df = pd.read_csv("./MovieData/movie_metadata 2.csv")

In [1139]:
imdb_df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [1140]:
imdb_df.keys()

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [1141]:
imdb_df['title_year'].max()

2016.0

In [1142]:
df_movie_imdb_link = imdb_df['movie_imdb_link']

In [1143]:
movi_list = df_movie_imdb_link.to_list()

In [1144]:
df_movie_imdb_link

0       http://www.imdb.com/title/tt0499549/?ref_=fn_t...
1       http://www.imdb.com/title/tt0449088/?ref_=fn_t...
2       http://www.imdb.com/title/tt2379713/?ref_=fn_t...
3       http://www.imdb.com/title/tt1345836/?ref_=fn_t...
4       http://www.imdb.com/title/tt5289954/?ref_=fn_t...
                              ...
5038    http://www.imdb.com/title/tt3000844/?ref_=fn_t...
5039    http://www.imdb.com/title/tt2071645/?ref_=fn_t...
5040    http://www.imdb.com/title/tt2107644/?ref_=fn_t...
5041    http://www.imdb.com/title/tt2070597/?ref_=fn_t...
5042    http://www.imdb.com/title/tt0378407/?ref_=fn_t...
Name: movie_imdb_link, Length: 5043, dtype: object

In [1145]:
box_office = pd.read_csv("./MovieData/boxofficemojo_dataset/Mojo_budget_data.csv")

In [1146]:
box_office.keys()

Index(['movie_id', 'movie_title', 'movie_year', 'director', 'writer',
       'producer', 'composer', 'cinematographer', 'main_actor_1',
       'main_actor_2', 'main_actor_3', 'main_actor_4', 'budget', 'domestic',
       'international', 'worldwide', 'mpaa', 'run_time', 'genre_1', 'genre_2',
       'genre_3', 'genre_4', 'link'],
      dtype='object')

In [1147]:
imdb_df["movie_id"] = imdb_df.movie_imdb_link.str[26:35]

In [1148]:
imdb_df["movie_id"].head()

0    tt0499549
1    tt0449088
2    tt2379713
3    tt1345836
4    tt5289954
Name: movie_id, dtype: object

In [1149]:
merged_df = pd.merge(imdb_df, box_office, on='movie_id')

In [1150]:
mask = merged_df.country.str.contains('USA')
merged_df = merged_df.drop(index=merged_df[~mask].index)

In [1151]:
merged_df = merged_df.drop(['main_actor_2', 'main_actor_3', 'main_actor_1', 'facenumber_in_poster'], axis=1)
# removing duplicates and urelated attributes
merged_df = merged_df.drop(['run_time', 'budget_y', 'director_name', 'title_year', 'link', 'movie_imdb_link', 'genres', 'num_voted_users', 'movie_title_y', 'num_critic_for_reviews', 'content_rating', 'country', 'aspect_ratio'], axis=1)

# merged_df = merged_df.drop(['genre_4', 'genre_3'], axis=1)

In [1152]:
merged_df['genre_2'].isna().sum()

137

In [1153]:
merged_df['movie_year'].min()

2000

In [1154]:
merged_df[['budget_x', 'movie_year']].head()

      budget_x  movie_year
0  237000000.0        2009
1  300000000.0        2007
3  250000000.0        2012
4  263700000.0        2012
5  258000000.0        2007

In [1155]:
# The dollar had an average inflation rate of 2.10% per year between 2000 and 2016. Source: https://www.officialdata.org/2000-dollars-in-2016?amount=3900#:~:text=The%20dollar%20had%20an%20average,Labor%20Statistics%20consumer%20price%20index.
inflation = 1.021
for index, row in merged_df.iterrows():
    power = row['movie_year'] - 2000
    merged_df.at[index, 'budget_x'] = row['budget_x'] * (inflation ** power)
    merged_df.at[index, 'worldwide'] = row['worldwide'] * (inflation ** power)
    merged_df.at[index, 'domestic']= row['domestic'] * (inflation ** power)
    merged_df.at[index, 'international']= row['international'] * (inflation ** power)
    merged_df.at[index, 'gross']= row['gross'] * (inflation ** power)

In [1156]:
merged_df[['budget_x', 'movie_year']].head()

       budget_x  movie_year
0  2.857459e+08        2009
1  3.469776e+08        2007
3  3.208108e+08        2012
4  3.383912e+08        2012
5  2.984007e+08        2007

In [1157]:
genre_1 = merged_df['genre_1'].unique()
genre_2 = merged_df['genre_2'].unique()
genre_3 = merged_df['genre_3'].unique()
genre_4 = merged_df['genre_4'].unique()


genres = np.concatenate((genre_1, genre_2, genre_3, genre_4), axis=0)

genres = genres[~pd.isna(genres)]
genres = np.unique(genres)

for g in genres:
    merged_df.insert(len(merged_df.columns), g, 0)

for item, row in merged_df.iterrows():
    for genre in genres:
        if genre == row['genre_1']:
            merged_df.at[item, genre] = 1
        if genre == row['genre_2']:
            merged_df.at[item, genre] = 1
        if genre == row['genre_3']:
            merged_df.at[item, genre] = 1
        if genre == row['genre_4']:
            merged_df.at[item, genre] = 1

In [1158]:
merged_df.head()

,color,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,actor_1_name,movie_title_x,cast_total_facebook_likes,...,Music,Musical,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western
0,Color,178.0,0.0,855.0,Joel David Moore,1000.0,9.169259e+08,CCH Pounder,Avatar,4834,...,0,0,0,0,0,1,0,0,0,0
1,Color,169.0,563.0,1000.0,Orlando Bloom,40000.0,3.578544e+08,Johnny Depp,Pirates of the Caribbean: At World's End,48350,...,0,0,0,0,0,0,0,0,0,0
3,Color,164.0,22000.0,23000.0,Christian Bale,27000.0,5.750605e+08,Tom Hardy,The Dark Knight Rises,106759,...,0,0,0,0,0,0,0,0,0,0
4,Color,132.0,475.0,530.0,Samantha Morton,640.0,9.375204e+07,Daryl Sabara,John Carter,1873,...,0,0,0,0,0,1,0,0,0,0
5,Color,156.0,0.0,4000.0,James Franco,24000.0,3.892283e+08,J.K. Simmons,Spider-Man 3,46055,...,0,0,0,0,0,1,0,0,0,0

In [1134]:
genres

array(['Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror',
       'Music', 'Musical', 'Mystery', 'News', 'Romance', 'Sci-Fi',
       'Sport', 'Thriller', 'War', 'Western'], dtype=object)

In [1135]:
def normalize(df, feature):
    df[feature] = (df[feature]-df[feature].mean())/df[feature].std()
    # return df[feature].mean(), df[feature].std()

In [1136]:
len(merged_df)

1675

In [1159]:
# normalize(merged_df, 'domestic')
# normalize(merged_df, 'international')
# normalize(merged_df, 'worldwide')
# normalize(merged_df, 'gross')
normalize(merged_df, 'cast_total_facebook_likes')
normalize(merged_df, 'actor_1_facebook_likes')
normalize(merged_df, 'budget_x')
normalize(merged_df, 'actor_2_facebook_likes')
normalize(merged_df, 'movie_facebook_likes')
normalize(merged_df, 'director_facebook_likes')
normalize(merged_df, 'actor_3_facebook_likes')

In [1160]:
normalize(merged_df, 'duration')

In [1171]:
merged_df = merged_df.drop(['movie_year', 'movie_id', 'movie_title_x', 'num_user_for_reviews', 'plot_keywords'], axis=1)
merged_df = merged_df.drop(['domestic', 'international'], axis=1)
merged_df = merged_df.drop(['genre_2', 'genre_1', 'genre_3', 'genre_4'], axis=1)
merged_df = merged_df.drop(['gross'], axis=1)
merged_df = merged_df.drop(['imdb_score'], axis=1)

In [1163]:
mean_rev, std_rev = df['worldwide'].mean(), df['worldwide'].std()
normalize(merged_df, 'worldwide')

In [1112]:
# import seaborn as sns
# sns.heatmap(merged_df.corr(), cmap='YlGnBu', annot=True, linewidths = 0.2);

In [1164]:
from sklearn import preprocessing
def to_categorical(df, feature):
    le = preprocessing.LabelEncoder()
    le.fit(df[feature].unique())
    feature_cat = le.transform(df[feature])
    df.drop([feature], axis=1)
    df[feature] = feature_cat
    # return df

In [1165]:
to_categorical(merged_df, 'director')
to_categorical(merged_df, 'writer')
to_categorical(merged_df, 'producer')
to_categorical(merged_df, 'composer')
to_categorical(merged_df, 'cinematographer')
to_categorical(merged_df, 'main_actor_4')
to_categorical(merged_df, 'actor_2_name')
to_categorical(merged_df, 'actor_1_name')
to_categorical(merged_df, 'actor_3_name')
to_categorical(merged_df, 'mpaa')
to_categorical(merged_df, 'color')
to_categorical(merged_df, 'language')

In [1174]:
merged_df.dropna(inplace=True)

In [1175]:
# drop_list = ['worldwide', 'cast_total_facebook_likes', 'actor_1_facebook_likes', 'budget_x', 'actor_2_facebook_likes', 'movie_facebook_likes', 'director_facebook_likes', 'actor_3_facebook_likes', 'worldwide_normalized']
for i in drop_list:
    x = merged_df.loc[:, merged_df.columns != 'worldwide']
y = merged_df['worldwide']

In [1176]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 100)
mlr = LinearRegression()  
mlr.fit(x_train, y_train)

LinearRegression()

In [1181]:
#Prediction of test set
y_pred_mlr= mlr.predict(x_test)
#Predicted values
print("Prediction for test set: {}".format(y_pred_mlr))

Prediction for test set: [-6.96514927e-01 -6.11727579e-01 -2.61289544e-01 -9.12192917e-01
 -1.00485243e-01  1.78581161e-01  4.88628671e-01 -5.35927172e-01
 -6.27946929e-01  1.20016144e-01  3.80196403e-01 -4.35102026e-01
  7.02897727e-01 -4.72791340e-01 -5.52926918e-01  1.13555730e-01
 -2.00950921e-01 -8.87577828e-01  1.06416713e+00 -1.61814650e-01
  1.13934101e+00 -1.95538097e-01  1.48752574e+00 -4.34541278e-01
 -7.48291675e-01  3.19910588e-01  7.81226746e-02  7.98576267e-01
 -6.68581099e-02 -4.76772529e-02 -2.24040556e-01 -5.87181889e-01
 -5.94186007e-01  1.29119219e-01  4.22471435e-01  1.96506772e+00
 -2.96849559e-01 -5.05573498e-01  1.65053224e-02  7.83034035e-02
 -4.02265699e-01 -6.05491283e-01 -1.93868860e-01  9.20053317e-01
  2.89817062e-01 -2.84660024e-02 -6.30826500e-01  4.46826524e-01
  8.17296721e-01  1.04620371e-01  1.37514497e+00  1.82275576e-01
  3.97269583e-01  2.76327495e+00  1.97339317e-01 -3.43991343e-01
  6.29755145e-01 -7.48432787e-01  4.98101467e-01  6.96634245e-01
 -2.59102990e-01  2.16693484e-01 -7.15240732e-01 -1.95581243e-01
  5.04677321e-01 -6.59446527e-01  4.05422930e-01 -1.11762509e+00
 -6.10158865e-01  7.14085687e-01  6.54509430e-01 -6.02046059e-01
 -5.14486258e-01 -7.94133013e-01 -2.86499588e-01 -3.34807378e-01
 -4.50940806e-01  8.88568616e-01 -2.04697990e-01  1.60294384e+00
  3.19110933e-01  6.67219895e-01  1.64607596e-01  3.08694566e+00
 -7.35097123e-01 -5.78512971e-01 -6.90446596e-01  1.41739933e-02
 -3.71250144e-01 -7.83963693e-01 -7.31240908e-02 -5.06336701e-01
  6.39799580e-01  1.99136888e-01 -2.84966298e-01  1.60751336e-01
  1.63274498e+00 -6.02660073e-01  2.04941227e+00 -8.84416264e-01
 -4.96785156e-01  1.04949165e+00 -4.22191354e-01 -7.97703022e-01
  6.05292081e-01 -4.65041939e-01  1.59556076e-01  7.69811779e-01
 -5.46341378e-01 -3.58909878e-01  1.28096693e+00 -5.85941505e-01
  6.22587069e-02 -8.25325510e-01 -6.11287377e-01 -3.37197365e-01
 -5.31158525e-01  8.34695179e-01 -5.99771370e-01  1.76574069e+00
 -1.17424413e-01 -6.12590248e-01 -5.57929996e-01  6.08238076e-01
 -4.98437216e-01 -4.72426579e-01  1.09018857e+00 -6.66768677e-01
  1.09533911e+00 -2.13131862e-01 -3.72696142e-01 -5.65555511e-01
  8.79991941e-01 -5.41666182e-01  1.02734297e-01 -1.91882149e-01
  4.29154017e-01 -7.66403977e-01 -2.52676929e-01 -2.46472471e-01
 -3.04744920e-01 -4.43289206e-01 -2.18300979e-02  1.05387639e-01
 -3.05282974e-01  6.00992947e-02 -1.58483096e-01 -2.35490144e-01
 -6.38238544e-01  5.76831434e-01 -3.78003901e-01 -3.75420065e-01
 -6.89894858e-01  3.21689119e-01 -3.48876130e-01  1.13594007e-01
 -7.09899148e-02  9.52614031e-01  3.31287148e-01  7.25797765e-01
 -2.61178167e-01 -1.81371515e-01 -4.53045529e-01 -2.56829807e-02
  5.91305587e-02  2.79770030e-01 -8.64350790e-01 -9.13927599e-01
  5.21733502e-01  2.28497452e+00 -4.01062630e-02 -7.53624772e-01
 -3.59437192e-01 -4.87935816e-01 -3.28632031e-01 -5.28906922e-01
  5.73531069e-01 -1.36862148e-01 -2.57438039e-01 -8.48597240e-01
 -1.26230669e-03 -6.90446596e-01 -7.72141045e-01  6.75681997e-01
 -1.42545728e-01  2.72229306e-01  1.51765142e+00  2.76327495e+00
  1.22260093e+00  1.77445927e+00 -3.41411532e-01 -3.55366916e-01
  1.11888293e+00 -2.58839726e-01 -9.21966785e-02  2.09261865e-01
 -1.80981263e-01 -7.32024744e-01  2.09273936e-01 -1.93022109e-01
  2.62518909e-01 -6.31146365e-01 -7.34298432e-01  1.89188353e-01
  9.23018974e-01  5.40218038e-01 -2.43200594e-01 -2.84267967e-01
 -4.64856333e-01 -1.04836413e-01 -7.32160825e-01 -4.26448889e-02
 -4.45745275e-01 -4.03409073e-01 -6.78009771e-01  1.44065663e+00
  1.21346700e+00 -3.53804489e-01 -1.44831480e-01 -8.05874480e-01
  5.77664143e-01 -1.94952545e-01 -5.10817734e-01  6.76368665e-02
 -6.51827378e-01  5.12422700e-01  2.14576162e-01 -2.75220500e-01
  1.08164836e+00 -6.34267275e-01 -2.20775681e-01 -2.57946327e-01
  1.12267781e+00 -5.65725284e-01  2.36485736e+00 -5.20046084e-01
 -1.13739780e-01  3.96992048e-01 -4.94880211e-01 -6.64731777e-01
 -2.14422967e-02 -6.28737081e-02  1.17891477e+00 -2.14088810e-01
 -6.38068424e-01 -5.13664232e-01  2.57603496e+00 -3.47799633e-01
  1.68953988e+00  4.71019965e-01  4.96138806e-01 -2.07411524e-01
  1.31374310e+00  3.95246975e+00  3.22133673e-01 -5.10440022e-01
 -8.31781198e-01  5.28595792e-01 -7.24780332e-01 -2.15172995e-01
 -2.44189058e-01 -8.24494890e-02  4.95816605e-02 -4.77648264e-01
  3.93640505e-01 -4.74860041e-01  2.34526004e-01 -1.55553620e-02
 -5.81506032e-01 -2.15999857e-01 -1.74736173e-01 -3.30998283e-01
  1.42545849e+00 -6.09942232e-01 -7.93334536e-01  1.03557769e-01
 -9.17689177e-01 -1.66263149e-01 -4.13667668e-01 -2.86963932e-01
 -3.10508688e-01  1.31722086e+00  1.19668383e+00 -1.48024378e-01
  1.27167705e+00  6.32194956e-01 -5.11268790e-01 -6.69584817e-01
  2.30380504e+00 -2.04244885e-04 -5.29966394e-01 -5.14743304e-01
 -4.25702919e-01  6.70862503e-01  1.96262133e+00 -1.11337108e-01
 -3.88763412e-01  2.11117915e+00  3.07796032e-01 -4.08121189e-01
 -2.99616404e-01  1.48698922e-01 -3.78414857e-01 -6.81490397e-01
 -2.22841166e-01  9.76173300e-01  1.64083652e+00  3.84710561e-01
 -4.26357373e-01 -3.16328294e-01 -7.55825461e-01 -3.90922050e-01
  1.62765023e+00  1.29359763e-01 -4.17995494e-01 -3.89896566e-01
 -1.44364971e-01 -4.50087661e-01 -6.33546718e-01  1.63981369e-01
 -5.59859929e-01 -5.31548210e-01  4.34191546e-01 -4.96782471e-01
  3.13174648e-01  2.05533540e+00 -4.80884417e-01 -5.03440191e-01
 -4.36602321e-01 -1.09316255e+00 -2.90908768e-01 -8.34682807e-01
  2.48134272e-01  1.31563664e+00  1.06796400e-01 -1.71290117e-01
 -3.87618013e-01 -1.44170859e-01 -3.07352432e-01 -2.42203989e-01
 -2.64658570e-01 -3.46415914e-01 -3.91264818e-01 -1.00644383e-01
  5.79480125e-01  1.21537370e+00 -1.28278295e-01 -4.90305852e-02
 -6.73275827e-01 -5.69556231e-01 -5.08531014e-01  8.56763948e-01
 -6.64690717e-01 -4.22575541e-01 -6.42788446e-01 -5.92809834e-01
 -2.02782883e-01 -8.57596659e-01  4.42160123e-01 -5.50796832e-01
  9.00533561e-01  1.50840893e-01 -5.75223107e-01 -1.93629639e-01
 -4.94447861e-01 -7.03074463e-01 -1.73304766e-01 -1.30030030e-01
 -2.79040711e-01 -3.40327750e-01 -1.34693612e-01 -7.19289273e-01
 -4.22800255e-01 -5.16551083e-01  4.63080227e-02 -4.85470973e-01
 -5.14316255e-01 -1.86711462e-01  8.36050489e-01 -2.93332672e-01
  4.87570794e-02 -6.60984418e-01  5.03152332e-01 -8.94413413e-02
 -4.74262518e-01 -4.30063628e-01 -5.91534015e-01  5.50757013e-01
  7.22392941e-01  1.07186515e-01 -5.45066411e-01 -2.78843399e-01
  1.40273904e+00 -3.57643423e-01 -5.42347670e-01  1.32299803e-01
  5.08332442e-01 -7.68532691e-01 -5.40170587e-01 -2.09951034e-01
 -3.27075404e-01  1.27911761e+00  2.32431901e+00 -4.94205550e-01
 -5.73815909e-01  4.36265360e-01 -7.72244346e-01 -3.34797873e-01
  1.89317745e+00 -2.85350105e-01 -5.21335585e-01 -4.68752315e-01
 -3.05282974e-01 -4.27330303e-01  2.09497142e+00 -4.77447123e-01
  5.81522607e-01 -3.49188491e-01  1.47715234e+00 -6.55176740e-01
 -5.22372424e-01 -1.49983986e-01 -4.75579082e-01 -1.57651208e-01
  1.85093225e+00 -4.63428789e-01 -5.17902938e-01 -6.69200939e-01
 -2.22206665e-01 -8.30512587e-01  7.88783713e-01 -6.04575786e-01
 -3.99861339e-01 -3.69161549e-01 -5.29451137e-01 -1.68124776e-01
 -2.26860075e-01 -2.56906019e-01 -3.07913293e-01 -8.84677812e-01
 -3.52122969e-01  4.14559439e-01 -3.24578225e-01  2.20687323e+00
  4.88859386e-01 -4.98073944e-01 -7.64739901e-01 -3.90546407e-01
  2.11281694e-01 -6.24661984e-01  1.90857452e+00  2.46748263e-02
  5.94259102e-01 -9.12947573e-01 -3.69366970e-01 -6.71103533e-01
 -5.92232026e-01  1.95943124e+00 -3.22421350e-01  1.39907752e+00
  2.63354712e+00 -7.40998108e-01 -5.81075495e-01 -3.34083889e-01
 -3.71080472e-01  1.88058591e+00 -1.68613452e-01  1.91336667e-01
 -5.79683857e-01  7.85009137e-01  9.59965580e-01  1.40589599e+00
 -3.28195228e-01  9.85285431e-01 -2.72451282e-01 -1.74460860e-01
 -3.62915048e-01 -5.99903586e-01 -6.17482632e-01 -1.51353078e-01
 -2.06736780e-01 -5.01340862e-01 -5.33850858e-01  9.12241088e-01
 -3.11795181e-01  2.49774898e+00 -3.42550784e-01 -3.61093809e-01
  6.64293925e-01 -8.57493199e-01 -4.30162517e-01  1.36104100e+00
  5.23559928e-01 -4.35508402e-01 -7.43751955e-01]

In [1182]:
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_mlr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_mlr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_mlr))
print('R squared: {:.2f}'.format(mlr.score(x,y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 64.64
Mean Absolute Error: 0.37663412903469595
Mean Square Error: 0.35383159106835627
Root Mean Square Error: 0.5948374492820339

In [1183]:
mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_mlr})
mlr_diff.head()

      Actual value  Predicted value
1835     -0.709269        -0.696515
1799     -0.370525        -0.611728
1031     -0.046411        -0.261290
1960     -0.577758        -0.912193
1234     -0.477775        -0.100485

In [937]:
merged_df['worldwide'].mean()

195333821.53679413

In [1180]:
x['worldwide']

KeyError: 'worldwide'

In [1123]:
x['budget_x']

0       2.857459e+08
1       3.469776e+08
3       3.208108e+08
4       3.383912e+08
5       2.984007e+08
            ...
1981    1.132803e+05
1982    1.365797e+05
1983    7.063441e+04
1984    7.606783e+03
1985    1.195352e+03
Name: budget_x, Length: 1648, dtype: float64