In [2]:
import pandas as pd
import numpy as np
imdb_df = pd.read_csv("./MovieData/movie_metadata 2.csv")

In [3]:
imdb_df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
imdb_df.keys()

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [5]:
imdb_df['title_year'].max()

2016.0

In [6]:
df_movie_imdb_link = imdb_df['movie_imdb_link']

In [7]:
movi_list = df_movie_imdb_link.to_list()

In [8]:
df_movie_imdb_link

0       http://www.imdb.com/title/tt0499549/?ref_=fn_t...
1       http://www.imdb.com/title/tt0449088/?ref_=fn_t...
2       http://www.imdb.com/title/tt2379713/?ref_=fn_t...
3       http://www.imdb.com/title/tt1345836/?ref_=fn_t...
4       http://www.imdb.com/title/tt5289954/?ref_=fn_t...
                              ...
5038    http://www.imdb.com/title/tt3000844/?ref_=fn_t...
5039    http://www.imdb.com/title/tt2071645/?ref_=fn_t...
5040    http://www.imdb.com/title/tt2107644/?ref_=fn_t...
5041    http://www.imdb.com/title/tt2070597/?ref_=fn_t...
5042    http://www.imdb.com/title/tt0378407/?ref_=fn_t...
Name: movie_imdb_link, Length: 5043, dtype: object

In [9]:
box_office = pd.read_csv("./MovieData/boxofficemojo_dataset/Mojo_budget_data.csv")

In [10]:
box_office.keys()

Index(['movie_id', 'movie_title', 'movie_year', 'director', 'writer',
       'producer', 'composer', 'cinematographer', 'main_actor_1',
       'main_actor_2', 'main_actor_3', 'main_actor_4', 'budget', 'domestic',
       'international', 'worldwide', 'mpaa', 'run_time', 'genre_1', 'genre_2',
       'genre_3', 'genre_4', 'link'],
      dtype='object')

In [11]:
imdb_df["movie_id"] = imdb_df.movie_imdb_link.str[26:35]

In [12]:
imdb_df["movie_id"].head()

0    tt0499549
1    tt0449088
2    tt2379713
3    tt1345836
4    tt5289954
Name: movie_id, dtype: object

In [13]:
merged_df = pd.merge(imdb_df, box_office, on='movie_id')

mask = merged_df.country.str.contains('USA')
merged_df = merged_df.drop(index=merged_df[~mask].index)

merged_df = merged_df.drop(['movie_id', 'movie_title_x', 'num_user_for_reviews', 'plot_keywords'], axis=1)
merged_df = merged_df.drop(['domestic', 'international'], axis=1)
merged_df = merged_df.drop(['gross', 'language'], axis=1)
merged_df = merged_df.drop(['imdb_score', 'color'], axis=1)
merged_df = merged_df.drop(['main_actor_2', 'main_actor_3', 'main_actor_1', 'facenumber_in_poster'], axis=1)
# removing duplicates and urelated attributes
merged_df = merged_df.drop(['run_time', 'budget_y', 'director_name', 'title_year', 'link', 'movie_imdb_link', 'genres', 'num_voted_users', 'movie_title_y', 'num_critic_for_reviews', 'content_rating', 'country', 'aspect_ratio'], axis=1)

# merged_df = merged_df.drop(['genre_4', 'genre_3'], axis=1)

In [14]:
# The dollar had an average inflation rate of 2.10% per year between 2000 and 2016. Source: https://www.officialdata.org/2000-dollars-in-2016?amount=3900#:~:text=The%20dollar%20had%20an%20average,Labor%20Statistics%20consumer%20price%20index.
inflation = 1.021
for index, row in merged_df.iterrows():
    power = row['movie_year'] - 2000
    merged_df.at[index, 'budget_x'] = row['budget_x'] * (inflation ** power)
    merged_df.at[index, 'worldwide'] = row['worldwide'] * (inflation ** power)
    # merged_df.at[index, 'domestic']= row['domestic'] * (inflation ** power)
    # merged_df.at[index, 'international']= row['international'] * (inflation ** power)
    # merged_df.at[index, 'gross']= row['gross'] * (inflation ** power)
merged_df = merged_df.drop('movie_year', axis=1)

In [15]:
# merged_df[['budget_x', 'movie_year']].head()

In [16]:
genre_1 = merged_df['genre_1'].unique()
genre_2 = merged_df['genre_2'].unique()
genre_3 = merged_df['genre_3'].unique()
genre_4 = merged_df['genre_4'].unique()


genres = np.concatenate((genre_1, genre_2, genre_3, genre_4), axis=0)

genres = genres[~pd.isna(genres)]
genres = np.unique(genres)

for g in genres:
    merged_df.insert(len(merged_df.columns), g, 0)

for item, row in merged_df.iterrows():
    for genre in genres:
        if genre == row['genre_1']:
            merged_df.at[item, genre] = 1
        if genre == row['genre_2']:
            merged_df.at[item, genre] = 1
        if genre == row['genre_3']:
            merged_df.at[item, genre] = 1
        if genre == row['genre_4']:
            merged_df.at[item, genre] = 1
merged_df = merged_df.drop(['genre_2', 'genre_1', 'genre_3', 'genre_4'], axis=1)

In [17]:
merged_df.head()

,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,cast_total_facebook_likes,actor_3_name,budget_x,actor_2_facebook_likes,...,Music,Musical,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western
0,178.0,0.0,855.0,Joel David Moore,1000.0,CCH Pounder,4834,Wes Studi,2.857459e+08,936.0,...,0,0,0,0,0,1,0,0,0,0
1,169.0,563.0,1000.0,Orlando Bloom,40000.0,Johnny Depp,48350,Jack Davenport,3.469776e+08,5000.0,...,0,0,0,0,0,0,0,0,0,0
3,164.0,22000.0,23000.0,Christian Bale,27000.0,Tom Hardy,106759,Joseph Gordon-Levitt,3.208108e+08,23000.0,...,0,0,0,0,0,0,0,0,0,0
4,132.0,475.0,530.0,Samantha Morton,640.0,Daryl Sabara,1873,Polly Walker,3.383912e+08,632.0,...,0,0,0,0,0,1,0,0,0,0
5,156.0,0.0,4000.0,James Franco,24000.0,J.K. Simmons,46055,Kirsten Dunst,2.984007e+08,11000.0,...,0,0,0,0,0,1,0,0,0,0

In [18]:
def normalize(df, feature):
    print(df[feature].mean())
    df[feature] = (df[feature]-df[feature].mean())/df[feature].std()
    # return df[feature].mean(), df[feature].std()
normalize(merged_df, 'cast_total_facebook_likes')
normalize(merged_df, 'actor_1_facebook_likes')
normalize(merged_df, 'budget_x')
normalize(merged_df, 'actor_2_facebook_likes')
normalize(merged_df, 'movie_facebook_likes')
normalize(merged_df, 'director_facebook_likes')
normalize(merged_df, 'actor_3_facebook_likes')
normalize(merged_df, 'duration')

14561.372537313433
9517.976119402985
64238187.70394231
2719.4805970149255
13765.239402985075
872.2531343283582
1072.7671641791044
109.71283582089552

In [19]:
mean_rev, std_rev = merged_df['worldwide'].mean(), merged_df['worldwide'].std()
normalize(merged_df, 'worldwide')

192845024.08888733

In [20]:
# import seaborn as sns
# sns.heatmap(merged_df.corr(), cmap='YlGnBu', annot=True, linewidths = 0.2);

In [21]:
from sklearn import preprocessing
def to_categorical(df, feature):
    le = preprocessing.LabelEncoder()
    le.fit(df[feature].unique())
    feature_cat = le.transform(df[feature])
    df.drop([feature], axis=1)
    df[feature] = feature_cat
    # return df

In [22]:
def one_hot_encode(df, column):
    """
    One hot encodes a column in a pandas DataFrame.
    
    Args:
        df (pandas.DataFrame): The DataFrame to one hot encode.
        column (str): The name of the column to one hot encode.
        
    Returns:
        pandas.DataFrame: The one hot encoded DataFrame.
    """
    # Get the unique values in the column
    unique_values = df[column].unique()
    
    # Create a new DataFrame with one hot encoded columns
    one_hot_df = pd.get_dummies(df[column], prefix=column)
    
    # Add the new columns to the original DataFrame
    df = pd.concat([df, one_hot_df], axis=1)
    
    # Drop the original column from the DataFrame
    df.drop(column, axis=1, inplace=True)
    
    return df

In [23]:
# transform_df = one_hot_encode(merged_df, 'director')
# transform_df = one_hot_encode(transform_df, 'writer')
# transform_df = one_hot_encode(transform_df, 'producer')
# transform_df = one_hot_encode(transform_df, 'composer')
# transform_df = one_hot_encode(transform_df, 'cinematographer')
# transform_df = one_hot_encode(transform_df, 'main_actor_4')
# transform_df = one_hot_encode(transform_df, 'actor_2_name')
# transform_df = one_hot_encode(transform_df, 'actor_1_name')
# transform_df = one_hot_encode(transform_df, 'actor_3_name')
# merged_df = one_hot_encode(merged_df, 'mpaa')
# transform_df = one_hot_encode(transform_df, 'color')
# transform_df = one_hot_encode(transform_df, 'language')

In [24]:
to_categorical(merged_df, 'director')
to_categorical(merged_df, 'writer')
to_categorical(merged_df, 'producer')
to_categorical(merged_df, 'composer')
to_categorical(merged_df, 'cinematographer')
to_categorical(merged_df, 'main_actor_4')
to_categorical(merged_df, 'actor_2_name')
to_categorical(merged_df, 'actor_1_name')
to_categorical(merged_df, 'actor_3_name')
merged_df = one_hot_encode(merged_df, 'mpaa')
# to_categorical(merged_df, 'mpaa')
# to_categorical(merged_df, 'color')
# to_categorical(merged_df, 'language')

In [25]:
merged_df.dropna(inplace=True)

In [28]:
# drop_list = ['worldwide', 'cast_total_facebook_likes', 'actor_1_facebook_likes', 'budget_x', 'actor_2_facebook_likes', 'movie_facebook_likes', 'director_facebook_likes', 'actor_3_facebook_likes', 'worldwide_normalized']
x = merged_df.loc[:, merged_df.columns != 'worldwide']
y = merged_df['worldwide']

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 100)
mlr = LinearRegression()  
mlr.fit(x_train, y_train)

#Prediction of test set
y_pred_mlr= mlr.predict(x_test)
#Predicted values
print("Prediction for test set: {}".format(y_pred_mlr))

from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_mlr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_mlr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_mlr))
print('R squared: {:.2f}'.format(mlr.score(x,y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_mlr})
print(mlr_diff.tail())

Prediction for test set: [-0.70017035 -0.60493729 -0.25871747 -0.9031329  -0.08958836  0.1804704
  0.49069281 -0.57151495 -0.63225653  0.12646334  0.37665754 -0.44436727
  0.70515194 -0.4674434  -0.54604107  0.12252037 -0.2048426  -0.89230054
  1.07047215 -0.15674335  1.13964707 -0.20136493  1.45471856 -0.43754764
 -0.75840274  0.31576244  0.04273185  0.80824544 -0.06404232 -0.04482451
 -0.2145775  -0.59258325 -0.59796899  0.13585545  0.41785862  1.97581879
 -0.29150227 -0.53694508  0.02422586  0.08450537 -0.43988718 -0.56790534
 -0.20316231  0.92501551  0.29319645 -0.03707345 -0.62102083  0.4440526
  0.80758611  0.10072975  1.36922655  0.1813035   0.39506175  2.7541722
  0.20125644 -0.33476598  0.63055135 -0.74105061  0.49842704  0.70587496
 -0.26196692  0.21546038 -0.70640242 -0.19608958  0.49925488 -0.65363616
  0.40709646 -1.14538389 -0.60242438  0.71514989  0.65508235 -0.60343529
 -0.54774525 -0.79558302 -0.28097837 -0.37170747 -0.45405822  0.89225221
 -0.20230011  1.61109618  0.3103018   0.65753162  0.16572184  3.08893451
 -0.73749732 -0.56604765 -0.68486135  0.0169057  -0.36805727 -0.79203646
 -0.06904332 -0.51181802  0.63713691  0.19914061 -0.2771154   0.15674978
  1.6040848  -0.60459911  2.04049276 -0.85031813 -0.5007748   1.04496692
 -0.45359637 -0.78980023  0.62479987 -0.47017286  0.14806919  0.77544843
 -0.58313911 -0.34883789  1.28809855 -0.59359835  0.05841117 -0.85955538
 -0.64740477 -0.36429116 -0.53585385  0.8388201  -0.59547657  1.77232704
 -0.11414182 -0.61680699 -0.56574363  0.59479816 -0.50036945 -0.47770771
  1.09649689 -0.65913343  1.09830365 -0.22025141 -0.37950229 -0.56903525
  0.87758525 -0.54667558  0.10843218 -0.20363278  0.41919222 -0.77350356
 -0.24300249 -0.23557936 -0.31014    -0.44535744 -0.02927706  0.1147689
 -0.29923743  0.06503529 -0.15226579 -0.23937443 -0.63121552  0.58111127
 -0.37833399 -0.37141107 -0.69114974  0.318286   -0.35726999  0.11615111
 -0.05867313  0.96192408  0.33794508  0.7215305  -0.25663549 -0.18515313
 -0.48802355 -0.01772781  0.06930098  0.27412663 -0.86430964 -0.91756143
  0.52826092  2.28886239 -0.04813434 -0.7561504  -0.35431139 -0.49027933
 -0.3329553  -0.52482084  0.58149922 -0.16518077 -0.25243506 -0.85691328
  0.01021406 -0.68486135 -0.77376106  0.67882985 -0.15037022  0.27543071
  1.52294447  2.7541722   1.21881771  1.77579456 -0.34930035 -0.3619284
  1.12192369 -0.26712386 -0.08172752  0.20880361 -0.1727752  -0.73391064
  0.21290883 -0.20123242  0.26598261 -0.63281354 -0.73229223  0.19467168
  0.92333506  0.53841885 -0.25184722 -0.27997125 -0.45423928 -0.10109711
 -0.73344663 -0.0469329  -0.43419048 -0.39924298 -0.71514168  1.4469679
  1.2179369  -0.34881599 -0.15591984 -0.8130526   0.59167627 -0.18904605
 -0.50628153  0.06289392 -0.65448482  0.50753622  0.21902142 -0.2682081
  1.08865717 -0.63009074 -0.21932688 -0.26879954  1.12733783 -0.56343342
  2.36296459 -0.50873154 -0.10484718  0.39713166 -0.48779841 -0.66774561
 -0.01339295 -0.0616479   1.18404831 -0.2232549  -0.6441522  -0.50701797
  2.57890467 -0.35601387  1.69259383  0.46663733  0.49943115 -0.21257494
  1.31658342  3.95054704  0.32957566 -0.51619187 -0.8382393   0.5474474
 -0.71772245 -0.21961694 -0.25225678 -0.08406872  0.04872418 -0.48105153
  0.37014528 -0.47697233  0.23823504 -0.00802792 -0.58179974 -0.21992375
 -0.18112462 -0.3214345   1.36554298 -0.64331768 -0.79172565  0.10205715
 -0.91637544 -0.17138791 -0.41536116 -0.28935493 -0.31584251  1.32478688
  1.19169699 -0.14553304  1.27591686  0.63081467 -0.50493938 -0.65923707
  2.30763791  0.00889163 -0.53224016 -0.51772973 -0.43091329  0.67871096
  1.9642653  -0.11698788 -0.39255862  2.11617599  0.31865077 -0.40979461
 -0.29054456  0.14037316 -0.36885987 -0.67355515 -0.2302715   0.93674457
  1.62808209  0.38104522 -0.43475533 -0.3255753  -0.76231157 -0.38581591
  1.62909762  0.14175707 -0.4087651  -0.3843208  -0.15266862 -0.45623177
 -0.63291639  0.17203142 -0.55895663 -0.53887611  0.43376837 -0.49164607
  0.31489888  2.05787339 -0.48412224 -0.50604595 -0.43931722 -0.69620163
 -0.33201656 -0.82584318  0.24161507  1.31092791  0.11031531 -0.16467222
 -0.39214474 -0.13902481 -0.30608918 -0.23369089 -0.2723909  -0.35554128
 -0.43106207 -0.10918726  0.57524076  1.21774993 -0.1239433  -0.05193931
 -0.66048517 -0.57000753 -0.50298483  0.86201234 -0.65567152 -0.41165587
 -0.65049396 -0.59723549 -0.19674452 -0.86046778  0.45002929 -0.54140527
  0.90624031  0.15486103 -0.57859586 -0.19630941 -0.48806979 -0.70220511
 -0.16552228 -0.12646362 -0.27832923 -0.33266743 -0.12348293 -0.71281677
 -0.42649027 -0.52425263  0.04850848 -0.48890615 -0.51905869 -0.17780872
  0.82367691 -0.28828158  0.05231427 -0.65760249  0.49981149 -0.09323244
 -0.47640288 -0.42672739 -0.58586595  0.55938721  0.72684429  0.11407341
 -0.53321437 -0.28725958  1.39765026 -0.34975604 -0.53004565  0.13373893
  0.51546401 -0.76162833 -0.58005801 -0.21619275 -0.32607297  1.28737224
  2.32842294 -0.49621622 -0.57544818  0.44103575 -0.77736339 -0.34030749
  1.88648971 -0.32384317 -0.51059787 -0.46832644 -0.29923743 -0.42906805
  2.10141484 -0.48100414  0.5830789  -0.34446454  1.48714864 -0.69112258
 -0.51287744 -0.15367199 -0.51182087 -0.15196649  1.85182433 -0.45802069
 -0.51248196 -0.67396239 -0.22913802 -0.83446632  0.7850913  -0.63583621
 -0.41231914 -0.37880367 -0.51896693 -0.15939612 -0.23495093 -0.25716951
 -0.30361067 -0.89213347 -0.35881959  0.42312632 -0.32162276  2.21477542
  0.47991183 -0.49247409 -0.76637458 -0.39064781  0.2299272  -0.62782995
  1.90614119  0.02517505  0.60526406 -0.76361551 -0.35706659 -0.66317926
 -0.59056437  1.96161329 -0.31339293  1.40329403  2.61183078 -0.73497247
 -0.58507769 -0.33480754 -0.37704171  1.88901731 -0.16271687  0.18370753
 -0.58553878  0.77693937  0.9617762   1.4013452  -0.40915967  0.9920517
 -0.26682594 -0.17149659 -0.36055185 -0.59233586 -0.61139626 -0.1416218
 -0.2104431  -0.50893339 -0.53767     0.91811157 -0.3144047   2.50489511
 -0.35069719 -0.3620207   0.65624415 -0.85815757 -0.41632125  1.36341707
  0.52536064 -0.43799836 -0.74453136]
R squared: 64.63
Mean Absolute Error: 0.3758680143464309
Mean Square Error: 0.35420936154669175
Root Mean Square Error: 0.595154905505022
      Actual value  Predicted value
1059     -0.459945        -0.416321
91        0.545090         1.363417
361       0.873096         0.525361
1024     -0.638394        -0.437998
1748     -0.656501        -0.744531

In [74]:
def de_normalize(df, feature, mean, std):
    for item, row in df.iterrows():
        df.at[item, feature] = (row[feature] + mean) * std

In [75]:
de_normalize(merged_df, 'worldwide', mean_rev, std_rev)

In [76]:
merged_df['worldwide']

0       1.418405e+25
1       1.418405e+25
3       1.418405e+25
4       1.418405e+25
5       1.418405e+25
            ...
1981    1.418405e+25
1982    1.418405e+25
1983    1.418405e+25
1984    1.418405e+25
1985    1.418405e+25
Name: worldwide, Length: 1648, dtype: float64

In [29]:
import numpy as np
from sklearn.svm import SVR
import matplotlib.pyplot as plt
svr_poly = SVR(kernel="poly", C=100, gamma="auto", degree=3, epsilon=0.1, coef0=1)

In [ ]:
# svr_poly = SVR(kernel="poly", C=100, gamma="auto", degree=3, epsilon=0.1, coef0=1)
svr_poly.fit(x_train, y_train)
y_pred = regressor.predict(x_test)
#Predicted values
print("Prediction for test set: {}".format(y_pred))

from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred)
meanSqErr = metrics.mean_squared_error(y_test, y_pred)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
print('R squared: {:.2f}'.format(svr_poly.score(x,y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred})
print(mlr_diff.tail())