In [96]:
import pandas as pd
import numpy as np
imdb_df = pd.read_csv("./MovieData/movie_metadata 2.csv")
# imdb_df = pd.read_csv("./imdb_dataset_with_google_trends.csv")

In [97]:
imdb_df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [98]:
imdb_df.keys()

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [99]:
imdb_df['title_year'].max()

2016.0

In [100]:
df_movie_imdb_link = imdb_df['movie_imdb_link']

In [101]:
movi_list = df_movie_imdb_link.to_list()

In [102]:
df_movie_imdb_link

0       http://www.imdb.com/title/tt0499549/?ref_=fn_t...
1       http://www.imdb.com/title/tt0449088/?ref_=fn_t...
2       http://www.imdb.com/title/tt2379713/?ref_=fn_t...
3       http://www.imdb.com/title/tt1345836/?ref_=fn_t...
4       http://www.imdb.com/title/tt5289954/?ref_=fn_t...
                              ...
5038    http://www.imdb.com/title/tt3000844/?ref_=fn_t...
5039    http://www.imdb.com/title/tt2071645/?ref_=fn_t...
5040    http://www.imdb.com/title/tt2107644/?ref_=fn_t...
5041    http://www.imdb.com/title/tt2070597/?ref_=fn_t...
5042    http://www.imdb.com/title/tt0378407/?ref_=fn_t...
Name: movie_imdb_link, Length: 5043, dtype: object

In [103]:
box_office = pd.read_csv("./MovieData/boxofficemojo_dataset/Mojo_budget_data.csv")

In [104]:
box_office.keys()

Index(['movie_id', 'movie_title', 'movie_year', 'director', 'writer',
       'producer', 'composer', 'cinematographer', 'main_actor_1',
       'main_actor_2', 'main_actor_3', 'main_actor_4', 'budget', 'domestic',
       'international', 'worldwide', 'mpaa', 'run_time', 'genre_1', 'genre_2',
       'genre_3', 'genre_4', 'link'],
      dtype='object')

In [105]:
imdb_df["movie_id"] = imdb_df.movie_imdb_link.str[26:35]

In [106]:
imdb_df["movie_id"].head()

0    tt0499549
1    tt0449088
2    tt2379713
3    tt1345836
4    tt5289954
Name: movie_id, dtype: object

In [107]:
merged_df = pd.merge(imdb_df, box_office, on='movie_id')

mask = merged_df.country.str.contains('USA')
merged_df = merged_df.drop(index=merged_df[~mask].index)

merged_df = merged_df.drop(['movie_id', 'movie_title_x', 'num_user_for_reviews', 'plot_keywords'], axis=1)
merged_df = merged_df.drop(['domestic', 'international'], axis=1)
merged_df = merged_df.drop(['gross', 'language'], axis=1)
merged_df = merged_df.drop(['imdb_score', 'color'], axis=1)
merged_df = merged_df.drop(['main_actor_2', 'main_actor_3', 'main_actor_1', 'facenumber_in_poster'], axis=1)
# removing duplicates and urelated attributes
merged_df = merged_df.drop(['run_time', 'budget_y', 'director_name', 'title_year', 'link', 'movie_imdb_link', 'genres', 'num_voted_users', 'movie_title_y', 'num_critic_for_reviews', 'content_rating', 'country', 'aspect_ratio'], axis=1)
# merged_df.sort_values('movie_year')
# merged_df = merged_df.drop(['genre_4', 'genre_3'], axis=1)

In [135]:
# merged_df.keys()
len(merged_df)

1648

In [109]:
inflation = 1.021
for index, row in merged_df.iterrows():
    power = 2016 - row['movie_year']
    merged_df.at[index, 'budget_x'] = row['budget_x'] * (inflation ** power)
    merged_df.at[index, 'worldwide'] = row['worldwide'] * (inflation ** power)
merged_df = merged_df.drop('movie_year', axis=1)

In [110]:
# merged_df[['budget_x', 'movie_year']].head()

In [111]:
genre_1 = merged_df['genre_1'].unique()
genre_2 = merged_df['genre_2'].unique()
genre_3 = merged_df['genre_3'].unique()
genre_4 = merged_df['genre_4'].unique()


genres = np.concatenate((genre_1, genre_2, genre_3, genre_4), axis=0)

genres = genres[~pd.isna(genres)]
genres = np.unique(genres)

for g in genres:
    merged_df.insert(len(merged_df.columns), g, 0)

for item, row in merged_df.iterrows():
    for genre in genres:
        if genre == row['genre_1']:
            merged_df.at[item, genre] = 1
        if genre == row['genre_2']:
            merged_df.at[item, genre] = 1
        if genre == row['genre_3']:
            merged_df.at[item, genre] = 1
        if genre == row['genre_4']:
            merged_df.at[item, genre] = 1
merged_df = merged_df.drop(['genre_2', 'genre_1', 'genre_3', 'genre_4'], axis=1)

In [112]:
# actor_1 = merged_df['actor_1_name'].unique()
# actor_2 = merged_df['actor_2_name'].unique()
# actor_3 = merged_df['actor_3_name'].unique()
# actor_4 = merged_df['main_actor_4'].unique()


# actors = np.concatenate((actor_1, actor_2, actor_3, actor_4), axis=0)

# actors = actors[~pd.isna(actors)]
# actors = np.unique(actors)

# for a in actors:
#     merged_df.insert(len(merged_df.columns), a, 0)

# for item, row in merged_df.iterrows():
#     for actor in actors:
#         if actor == row['actor_1']:
#             merged_df.at[item, genre] = 1
#         if actor == row['actor_2']:
#             merged_df.at[item, genre] = 1
#         if actor == row['actor_3']:
#             merged_df.at[item, genre] = 1
#         if actor == row['actor_4']:
#             merged_df.at[item, genre] = 1
# merged_df = merged_df.drop(['actor_1_name', 'actor_2_name', 'actor_3_name', 'main_actor_4'], axis=1)

In [113]:
merged_df.head()

,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,cast_total_facebook_likes,actor_3_name,budget_x,actor_2_facebook_likes,...,Music,Musical,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western
0,178.0,0.0,855.0,Joel David Moore,1000.0,CCH Pounder,4834,Wes Studi,2.741123e+08,936.0,...,0,0,0,0,0,1,0,0,0,0
1,169.0,563.0,1000.0,Orlando Bloom,40000.0,Johnny Depp,48350,Jack Davenport,3.617037e+08,5000.0,...,0,0,0,0,0,0,0,0,0,0
3,164.0,22000.0,23000.0,Christian Bale,27000.0,Tom Hardy,106759,Joseph Gordon-Levitt,2.716708e+08,23000.0,...,0,0,0,0,0,0,0,0,0,0
4,132.0,475.0,530.0,Samantha Morton,640.0,Daryl Sabara,1873,Polly Walker,2.865584e+08,632.0,...,0,0,0,0,0,1,0,0,0,0
5,156.0,0.0,4000.0,James Franco,24000.0,J.K. Simmons,46055,Kirsten Dunst,3.110652e+08,11000.0,...,0,0,0,0,0,1,0,0,0,0

In [114]:
def normalize(df, feature):
    print(df[feature].mean())
    df[feature] = (df[feature]-df[feature].mean())/df[feature].std()
    # retur

In [115]:
# n df[feature].mean(), df[feature].std()
normalize(merged_df, 'cast_total_facebook_likes')
normalize(merged_df, 'actor_1_facebook_likes')
normalize(merged_df, 'budget_x')
normalize(merged_df, 'actor_2_facebook_likes')
normalize(merged_df, 'movie_facebook_likes')
normalize(merged_df, 'director_facebook_likes')
normalize(merged_df, 'actor_3_facebook_likes')
normalize(merged_df, 'duration')
# normalize(merged_df, 'movie_year')

14561.372537313433
9517.976119402985
63362508.111601196
2719.4805970149255
13765.239402985075
872.2531343283582
1072.7671641791044
109.71283582089552

In [116]:
mean, std = merged_df['worldwide'].mean(), merged_df['worldwide'].std()
normalize(merged_df, 'worldwide')

186238122.62846538

In [117]:
# merged_df.dropna(inplace=True)
# merged_df['worldwide'] = np.log1p(merged_df['worldwide'])
# merged_df['budget_x'] = np.log1p(merged_df['budget_x'])
# merged_df = merged_df.drop(['budget_x', 'worldwide'], axis=1)

In [118]:
merged_df.head().worldwide

0    12.343415
1     3.946822
3     4.012153
4     0.497327
5     3.623781
Name: worldwide, dtype: float64

In [119]:
merged_df.head()

,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,cast_total_facebook_likes,actor_3_name,budget_x,actor_2_facebook_likes,...,Music,Musical,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western
0,3.415162,-0.262591,-0.087463,Joel David Moore,-0.438793,CCH Pounder,-0.407342,Wes Studi,3.669535,-0.312258,...,0,0,0,0,0,1,0,0,0,0
1,2.965056,-0.093100,-0.029226,Orlando Bloom,1.570244,Johnny Depp,1.414928,Jack Davenport,5.194659,0.399282,...,0,0,0,0,0,0,0,0,0,0
3,2.714997,6.360482,8.806735,Christian Bale,0.900565,Tom Hardy,3.860857,Joseph Gordon-Levitt,3.627024,3.550788,...,0,0,0,0,0,0,0,0,0,0
4,1.114621,-0.119593,-0.217994,Samantha Morton,-0.457338,Daryl Sabara,-0.531337,Polly Walker,3.886243,-0.365484,...,0,0,0,0,0,1,0,0,0,0
5,2.314903,-0.262591,1.175678,James Franco,0.746024,J.K. Simmons,1.318823,Kirsten Dunst,4.312951,1.449784,...,0,0,0,0,0,1,0,0,0,0

In [120]:
# import seaborn as sns
# sns.heatmap(merged_df.corr(), cmap='YlGnBu', annot=True, linewidths = 0.2);

In [121]:
from sklearn import preprocessing
def to_categorical(df, feature):
    le = preprocessing.LabelEncoder()
    le.fit(df[feature].unique())
    feature_cat = le.transform(df[feature])
    df.drop([feature], axis=1)
    df[feature] = feature_cat
    # return df

In [122]:
def one_hot_encode(df, column):
    """
    One hot encodes a column in a pandas DataFrame.
    
    Args:
        df (pandas.DataFrame): The DataFrame to one hot encode.
        column (str): The name of the column to one hot encode.
        
    Returns:
        pandas.DataFrame: The one hot encoded DataFrame.
    """
    # Get the unique values in the column
    unique_values = df[column].unique()
    
    # Create a new DataFrame with one hot encoded columns
    one_hot_df = pd.get_dummies(df[column], prefix=column)
    
    # Add the new columns to the original DataFrame
    df = pd.concat([df, one_hot_df], axis=1)
    
    # Drop the original column from the DataFrame
    df.drop(column, axis=1, inplace=True)
    
    return df

In [123]:
def de_normalize(y, mean, std):
    y = (y * std) + mean
    return y

In [124]:
to_categorical(merged_df, 'director')
to_categorical(merged_df, 'writer')
to_categorical(merged_df, 'producer')
to_categorical(merged_df, 'composer')
to_categorical(merged_df, 'cinematographer')
to_categorical(merged_df, 'main_actor_4')
to_categorical(merged_df, 'actor_2_name')
to_categorical(merged_df, 'actor_1_name')
to_categorical(merged_df, 'actor_3_name')
merged_df = one_hot_encode(merged_df, 'mpaa')

merged_df.dropna(inplace=True)
merged_df.to_csv('clean_data_noTrend.csv')
# to_categorical(merged_df, 'mpaa')
# to_categorical(merged_df, 'color')
# to_categorical(merged_df, 'language')

In [125]:
len(merged_df)

1648

In [126]:
# import category_encoders as ce
# merged_df = one_hot_encode(merged_df, 'mpaa')
# x = merged_df.loc[:, merged_df.columns != 'worldwide']
# y = merged_df['worldwide']
# encoder = ce.LeaveOneOutEncoder(cols=['director', 'writer', 'producer', 'composer', 'cinematographer', 'main_actor_4', 'actor_2_name', 'actor_1_name', 'actor_3_name'])
# encoded_df = encoder.fit_transform(x, y)

# encoded_df.dropna(inplace=True)

In [127]:
# encoded_df['worldwide'] = y

In [128]:
# encoded_df.keys()

In [129]:
def reverse_log_transformation(column):
    column = np.exp(column)
    return column

In [130]:
# encoded_df.to_csv('clean_data_movieYear.csv', index=False)

In [133]:
import numpy as np 
import pandas as pd 
from matplotlib import pyplot as plt 
import seaborn as sns 
from sklearn.metrics import r2_score


x = merged_df.loc[:, merged_df.columns != 'worldwide']
y = merged_df['worldwide']

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 100)
# x_train, x_test, y_train, y_test = x.head(int(len(x) * 0.7)), x.tail(int(len(x) * 0.3)), y.head(int(len(y) * 0.7)), y.tail(int(len(y) * 0.3))
mlr = LinearRegression()  
mlr.fit(x_train, y_train)

#Prediction of test set
y_pred_mlr= mlr.predict(x_test)
# plt.scatter(x_train, y_train,color='g') 

# plt.plot(x_test, y_pred_mlr,color='k') 
y_pred_mlr = de_normalize(y_pred_mlr, mean, std)
y_test = de_normalize(y_test, mean, std)
#Predicted values
# print("Prediction for test set: {}".format(y_pred_mlr))

from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_mlr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_mlr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_mlr))
print('R squared: {:.2f}'.format(mlr.score(x, y)))
print('Mean Absolute Error:', meanAbErr/1000000)
print('Mean Square Error:', meanSqErr / 1000000)
print('Root Mean Square Error:', rootMeanSqErr / 1000000)

mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_mlr})
print(mlr_diff.corr())
print(mlr_diff.head())

R squared: 0.61
Mean Absolute Error: 4.1020529294273665e-07
Mean Square Error: 3.9269678197292516e-07
Root Mean Square Error: 6.266552337393546e-07
                 Actual value  Predicted value
Actual value          1.00000          0.74428
Predicted value       0.74428          1.00000
      Actual value  Predicted value
1835     -0.753459        -0.710363
1799     -0.410944        -0.680899
1031     -0.136338        -0.392101
1960     -0.589668        -0.954884
1234     -0.426361        -0.084189

In [100]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score
x_train, x_test, y_train, y_test = x.head(int(len(x) * 0.7)), x.tail(int(len(x) * 0.3)), y.head(int(len(y) * 0.7)), y.tail(int(len(y) * 0.3))
poly_reg = PolynomialFeatures(degree=2)
X_poly = poly_reg.fit_transform(x_train)
pol_reg = LinearRegression()
pol_reg.fit(X_poly, y_train)

y_pred = pol_reg.predict(poly_reg.fit_transform(x_test))
# y_pred = de_normalize(y_pred, mean, std)
# y_test = de_normalize(y_test, mean, std)
y_pred_mlr = reverse_log_transformation(y_pred_mlr)
y_test = reverse_log_transformation(y_test)
meanAbErr = metrics.mean_absolute_error(y_test, y_pred)
meanSqErr = metrics.mean_squared_error(y_test, y_pred)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
# print('R squared: {:.2f}'.format(pol_reg.score(x,y)*100))
print('R squared: {: .2f}'.format(r2_score(y_test, y_pred)))
print('Mean Absolute Error:', meanAbErr / 1000000)
print('Mean Square Error:', meanSqErr / 1000000)
print('Root Mean Square Error:', rootMeanSqErr / 1000000)

mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred})
print(mlr_diff.head())

R squared: -0.82
Mean Absolute Error: 55.4193836801508
Mean Square Error: 6829980886.219811
Root Mean Square Error: 82.64369840598744
      Actual value  Predicted value
1356  7.269829e+07        19.005145
1357  1.839361e+08        18.343299
1358  1.839361e+08        18.343299
1359  1.055569e+08        16.721764
1360  1.539993e+08        18.547829

/var/folders/bh/b3dbk3j96b72qw2kmjf9rqfw0000gn/T/ipykernel_64689/396780045.py:2: RuntimeWarning: overflow encountered in exp
  column = np.exp(column)

In [31]:
import numpy as np
from sklearn.svm import SVR
import matplotlib.pyplot as plt
svr_lin = SVR(kernel="linear")

In [32]:
from sklearn.svm import LinearSVR
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_regression

In [33]:
x_train, x_test, y_train, y_test = x.head(int(len(x) * 0.7)), x.tail(int(len(x) * 0.3)), y.head(int(len(y) * 0.7)), y.tail(int(len(y) * 0.3))
regr = make_pipeline(StandardScaler(), LinearSVR(random_state=0, tol=1e-5))
regr.fit(x_train, y_train)
# Pipeline(steps=[('standardscaler', StandardScaler()),
                # ('linearsvr', LinearSVR(random_state=0, tol=1e-05))])

/Users/minasmacbook/opt/anaconda3/envs/torch/lib/python3.9/site-packages/sklearn/svm/_base.py:1225: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearsvr', LinearSVR(random_state=0, tol=1e-05))])

In [34]:
y_pred = regr.predict(x_test)
print(y_pred)

[17.39126903 17.91178935 17.91178935 17.74599554 18.63882991 17.81058462
 17.33250448 17.48372342 18.26975392 17.86855644 17.6627636  17.96104449
 17.39323589 17.93314084 17.64913651 17.62720509 18.05365075 17.84600551
 17.520891   17.49505354 18.17020736 17.98024579 17.57250662 17.8482542
 17.78196629 17.44354305 17.77446054 17.31995082 18.23045345 17.50100588
 17.69516993 17.97246465 18.51678284 18.33845742 17.46167403 17.89311653
 17.76698513 17.21067296 17.96605253 17.91895528 17.7642982  18.41234155
 17.34844403 17.5605226  17.22778254 17.38209654 17.63152249 17.72303678
 17.62378557 18.1510111  17.85586126 17.36689169 17.26522463 17.28742726
 17.73735089 18.05226312 17.49668213 17.08067581 17.40332666 17.38563803
 17.85824678 17.80316302 17.81237597 17.36773411 17.77097954 17.69124187
 17.87256447 17.78521504 17.82120007 17.56320071 17.83844508 17.89841118
 17.61212079 17.93749548 17.62153347 17.48382965 17.48382965 17.37263722
 17.61685714 17.32072908 17.93880097 17.69077786 17.90968003 17.43006017
 18.37398181 17.20620068 18.03445613 17.40376745 17.19011531 17.39717092
 16.99787814 17.70380062 17.94066986 17.80215211 17.60667745 17.54884888
 17.600199   17.41375182 17.52210596 17.55149027 17.6280509  17.88716763
 17.83915317 17.21739305 17.6890902  17.57133411 17.13282489 17.39780731
 17.50973493 17.36541106 17.50634045 17.81674351 18.26251667 17.89957466
 17.52946744 17.37761448 18.12999927 18.30335586 17.43712223 17.43712223
 17.64755647 17.27182852 17.69906905 17.17111069 17.17111069 17.99890723
 17.61381521 17.74764593 18.25647898 17.25342603 17.44101697 17.51657492
 17.50602269 17.41786613 17.60755951 17.66553042 17.56985431 17.56281671
 17.29469675 17.50344226 17.61483618 17.40331391 17.75237095 17.60242584
 17.74556764 17.74556764 18.09421559 17.29712606 17.70374833 16.91389484
 17.33608614 17.60389242 17.44908261 17.66215136 17.66215136 17.51339847
 17.49423705 17.83117476 17.17657881 17.40269773 17.28364239 17.33700872
 17.47844657 17.42015917 17.47744674 17.35090759 17.34647265 17.69151505
 17.44342249 17.28686779 17.6475577  17.42346376 17.82303767 17.36601254
 17.4261355  17.37046509 17.81714033 17.34499149 17.56956696 17.66728534
 17.33772262 17.1191791  17.28271814 17.95445066 17.78662459 17.5354139
 18.17425341 17.33971157 17.61659684 18.12810944 17.39568358 17.61599224
 17.62969928 17.28210143 17.53042018 17.19354125 16.9837612  17.44765352
 17.57387437 17.9026871  17.47705601 17.38714003 17.55731764 17.29189364
 17.5108335  17.38623874 17.11649443 19.893947   18.24809879 17.28893572
 17.23279186 17.30818266 17.6819122  17.30623436 17.31744227 17.60941406
 17.31862915 16.94064786 17.82688225 16.77760234 17.39302009 17.69495934
 17.18005392 17.52669669 17.24884916 16.77211168 17.01645122 17.3253885
 17.3185314  17.05323186 17.46614295 17.2548671  17.12332008 17.51852178
 17.43922365 17.34179958 17.17559997 17.2704534  17.4219279  17.34371911
 17.19279028 17.19279028 17.21849996 17.34585782 17.50597792 17.4828623
 16.99956471 19.06725465 18.03896774 16.87753036 17.39997923 16.97877854
 17.35838664 17.54692652 17.03877676 17.24832499 17.49923525 16.85979494
 17.23865571 17.26624368 17.00693765 16.86026088 16.57496208 17.21957607
 17.40988354 18.02211974 17.69147088 17.42098797 17.32627176 17.189054
 17.23817912 17.27028202 17.59664286 17.35846787 16.93141433 16.88788297
 17.00379296 17.36554568 17.00183681 17.1449312  16.62055982 17.24113904
 18.70772448 17.17626545 17.18604005 16.99051411 16.93581339 17.43278425
 18.45658903 17.0882305  17.93040158 17.04529277 17.21802663 17.99576286
 17.30587071 17.35337401 17.08136152 18.96285664 16.66257014 17.05475008
 16.32383625 16.32383625 16.93485739 18.07684547 17.0528716  17.2174117
 17.06691392 17.05916551 17.66536641 17.02099567 17.32985888 17.04323436
 16.89087239 17.11246097 16.43345758 17.15811966 16.88141262 17.35835311
 17.18252353 18.40518756 16.99183382 16.9235431  17.12435474 17.79714612
 16.84908722 16.73457342 16.90644633 16.63601357 17.51547825 18.84954041
 16.4963488  17.00037801 17.02368605 18.04614672 17.22815451 16.92138882
 17.22655801 17.15920909 16.89344766 16.7342192  16.51715136 17.09826961
 16.83274205 16.89813897 16.7393332  16.96707398 16.93104545 16.59329469
 16.64144856 17.22630715 16.4666174  16.9907278  16.9355381  16.9355381
 17.25943251 17.37990413 17.20118091 16.41977791 16.76459264 16.55502027
 16.77871765 17.06965712 16.62257892 17.07019792 16.70328655 16.67360651
 16.50285752 16.48179141 16.4111563  16.69789429 16.90309075 16.7991201
 17.03283348 16.52523925 16.61173384 16.52054018 16.6022848  16.48695382
 16.98073311 16.77692524 16.63001184 16.94774073 16.35553814 16.4365369
 16.45405176 16.5186283  16.95689857 16.70490263 16.9084626  16.22880507
 17.9869135  16.04413486 16.68824856 16.6544916  16.72996386 16.0598872
 16.58070256 17.0004053  16.01260598 17.57160566 16.7023348  16.68624434
 16.51939924 16.90941762 16.37371189 16.4247987  16.33822212 16.79688307
 17.09683863 16.46182432 16.59131178 16.37414686 16.41200219 16.17970544
 16.78871666 16.57994634 16.41844946 17.50959938 16.64421098 16.51877294
 16.04330968 16.54496642 16.19337897 16.5434359  16.18038168 17.24431962
 16.69400278 16.35941252 16.35579612 18.55685468 16.86403611 16.21177266
 16.40281081 17.52391218 16.09235333 16.09314192 16.41159963 16.46502507
 16.52323127 17.95961208 16.47280275 16.25228368 16.2608458  16.64562178
 17.74903551 17.00979533 16.07648476 15.73416527 17.65391709 15.9658712
 15.89517983 16.06449994 15.50923876 15.6759805  16.05892    17.28155593
 17.40226174 15.73069058 16.11516803 15.40727518 15.11820786 16.19204449
 15.68142508 15.49169053 15.5708168  15.71240919 16.2644484  15.62669575
 15.5502507  14.76796311 15.37343812 15.39161042 16.35031133 15.27573794
 15.18280275 16.30987675 15.36738114 16.81511594 14.62752188 14.40416107
 15.38701521 14.79804221 12.06150048 10.26215116 18.30524053 14.37565509
 13.95063045 13.82794457 16.74063155 13.13231538 13.20387746 14.45010398
 11.37356157 11.59925571]

In [36]:
# y_pred = de_normalize(y_pred, mean, std)
# y_test = de_normalize(y_test, mean, std)
y_pred = reverse_log_transformation(y_pred)
y_test = reverse_log_transformation(y_test)
meanAbErr = metrics.mean_absolute_error(y_test, y_pred)
meanSqErr = metrics.mean_squared_error(y_test, y_pred)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
print('R squared: {:.2f}'.format(regr.score(x,y)*100))
print('Mean Absolute Error:', meanAbErr / 1000000)
print('Mean Square Error:', meanSqErr / 1000000)
print('Root Mean Square Error:', rootMeanSqErr)

mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred})
print(mlr_diff.head())

/var/folders/bh/b3dbk3j96b72qw2kmjf9rqfw0000gn/T/ipykernel_64002/396780045.py:2: RuntimeWarning: overflow encountered in exp
  column = np.exp(column)
/Users/minasmacbook/opt/anaconda3/envs/torch/lib/python3.9/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: overflow encountered in exp
  result = getattr(ufunc, method)(*inputs, **kwargs)

ValueError: Input contains infinity or a value too large for dtype('float64').

In [40]:
mean / 1000000

159.72951717552237

In [41]:
std

216871914.11672443

In [ ]:
# import numpy as np
# from sklearn.svm import SVR
# import matplotlib.pyplot as plt
# svr_poly = SVR(kernel="poly", C=100, gamma="auto", degree=3, epsilon=0.1, coef0=1)

# # svr_poly = SVR(kernel="poly", C=100, gamma="auto", degree=3, epsilon=0.1, coef0=1)
# svr_poly.fit(x_train, y_train)
# y_pred = svr_poly.predict(x_test)
# #Predicted values
# print("Prediction for test set: {}".format(y_pred))

# from sklearn import metrics
# meanAbErr = metrics.mean_absolute_error(y_test, y_pred)
# meanSqErr = metrics.mean_squared_error(y_test, y_pred)
# rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
# print('R squared: {:.2f}'.format(svr_poly.score(x,y)*100))
# print('Mean Absolute Error:', meanAbErr)
# print('Mean Square Error:', meanSqErr)
# print('Root Mean Square Error:', rootMeanSqErr)

# mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred})
# print(mlr_diff.tail())

In [16]:
merged_df['cast_total_facebook_likes'] = np.log1p(merged_df['cast_total_facebook_likes'])
merged_df['actor_1_facebook_likes'] = np.log1p(merged_df['actor_1_facebook_likes']) 
# normalize(merged_df, 'budget_x')
merged_df['actor_2_facebook_likes'] = np.log1p(merged_df['actor_2_facebook_likes']) 
merged_df['movie_facebook_likes'] = np.log1p(merged_df['movie_facebook_likes']) 
merged_df['director_facebook_likes'] = np.log1p(merged_df['director_facebook_likes']) 
merged_df['actor_3_facebook_likes'] = np.log1p(merged_df['actor_3_facebook_likes'])

In [18]:
normalize(merged_df, 'duration')
# normalize(merged_df, 'movie_year')

109.71283582089552

In [19]:
merged_df.head()

,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,cast_total_facebook_likes,actor_3_name,budget_x,actor_2_facebook_likes,...,Music,Musical,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western
0,3.415162,0.000000,6.752270,Joel David Moore,6.908755,CCH Pounder,8.483636,Wes Studi,19.283571,6.842683,...,0,0,0,0,0,1,0,0,0,0
1,2.965056,6.335054,6.908755,Orlando Bloom,10.596660,Johnny Depp,10.786242,Jack Davenport,19.519293,8.517393,...,0,0,0,0,0,0,0,0,0,0
3,2.714997,9.998843,10.043293,Christian Bale,10.203629,Tom Hardy,11.578339,Joseph Gordon-Levitt,19.336971,10.043293,...,0,0,0,0,0,0,0,0,0,0
4,1.114621,6.165418,6.274762,Samantha Morton,6.463029,Daryl Sabara,7.535830,Polly Walker,19.390323,6.450470,...,0,0,0,0,0,1,0,0,0,0
5,2.314903,0.000000,8.294300,James Franco,10.085851,J.K. Simmons,10.737613,Kirsten Dunst,19.368470,9.305741,...,0,0,0,0,0,1,0,0,0,0